page-home {
  .logo {
    width: 100%;
  }

  .home-icon{
   height: 50px;
   width: 50px;
   border-radius: 30px;
   border: 1px solid;
   padding-top: 5px;
   padding-left: 10px;
  }

  ion-icon{
    font-size: 35px;
  }

  ion-col{
    padding-left: 25px !important;
    padding-top: 15px !important;
  }

}
