page-home {
  .logo {
    width: 100%;
  }

  .home-icon{
   height: 50px;
   width: 50px;
   border-radius: 30px;
   padding-top: 5px;
   padding-left: 12px;
  }

  .feature-desc {
    margin-top: 5px;
    margin-bottom: 0;
  }

  .toolbar-background {
    background: #fff;
  }

  ion-icon{
    font-size: 35px;
    color: #000000;
  }

  ion-col{
    padding-left: 25px !important;
    padding-top: 5px !important;
  }

  h2{
    margin-bottom: 2px;
  }

  p{
    padding-left: 3px;
  }
}
